<%- include("./partials/header.ejs") -%>
  <h1>Home</h1>
  <p>
    <%= HomeStartingContent %>
  </p>

  <!-- Using forEach()     -->
  <%Posts.forEach((post)=> {%>
    <h1>
      <%= post.title %>
    </h1>

    <p>
      <%= post.content.substring(0,100)+" ...." %>

        <a href="./posts/<%= post.title%>">Read More</a>
    </p>

    <%});%>

      <!-- Using for loop -->
      <!-- <% for (var i=0; i < Posts.length; i ++) { %>
        <h1>
            <%= Posts[i].title%>
        </h1>
        <p>
            <%= Posts[i].content%>
        </p>
        <% } %> -->
      <%- include("./partials/footer.ejs") -%>